section{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  margin: 1rem;
  border: 1px solid black;
  border-radius: 10px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
  display: flex;
  height: 70px;
  justify-content: space-between;
  width: 100%;
}

.navbar h1{
  padding: 0 3%;
}

.dark-mode__toggle {
  background: white;
  border: 1px solid black;
  height: 20px;
  position: relative;
  width: 40px;
}

.toggle {
  background: black;
  height: 18px;
  top: 1px;
  left: 1px;
  position: absolute;
  transition: 0.2s;
  width: 20px;
}

.toggled {
  left: 18px;
}

.dark-mode {
  color: #fff;
  background-color: #061124;

 
}

.dark-mode .navbar {
  background-color: #1F2022;
  border: none;
}

 .dark-mode article {
  background-color: #1F2022;
  border: 2px solid white;
  opacity: .7;
}